body{

font-family:Vazirmatn;

background:#0B0F19;

color:white;


}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:#111827;

position:sticky;

top:0;

}

.logo{

font-size:30px;

font-weight:bold;

color:#FFD166;

}

nav{

display:flex;

gap:30px;

}

nav a{

color:white;

text-decoration:none;

}

.active{

color:#FFD166;

}

.title{

text-align:center;

margin:70px 0;

}

.title h1{

font-size:45px;

color:#FFD166;

}

.title p{

margin-top:20px;

color:#bbb;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

padding:0 80px 80px;

}

.card{

background:#151A24;

padding:30px;

border-radius:20px;

position:relative;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px #00E5A8;

}

.card h2{

margin-bottom:25px;

}

.card p{

margin:12px 0;

}

.card button{

margin-top:25px;

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#FFD166;

font-size:17px;

cursor:pointer;

}

.card button:hover{

background:#00E5A8;

}

.status{

position:absolute;

top:20px;

left:20px;

padding:8px 16px;

border-radius:20px;

font-size:13px;

font-weight:bold;

}

.live{

background:#ff3b30;

}

.soon{

background:#00E5A8;

color:#111;

}
