body{

background:#0B0F19;

font-family:Vazirmatn;

color:white;

}

.header{

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 60px;

background:#111827;

}

.header h2{

color:#FFD166;

}

.header a{

color:white;

text-decoration:none;

}

.banner img{

width:100%;

height:500px;

object-fit:cover;

}

.container{

width:85%;

margin:auto;

padding:40px 0;

}

#title{

font-size:42px;

margin-bottom:35px;

color:#FFD166;

}

.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}

.box{

background:#151A24;

padding:25px;

border-radius:15px;

font-size:18px;

transition:.3s;

}

.box:hover{

transform:translateY(-6px);

box-shadow:0 0 15px #00E5A8;

}

.rules,.notice{

margin-top:45px;

background:#151A24;

padding:30px;

border-radius:18px;

}

.rules li{

margin:12px 0;

}

.buttons{

display:flex;

gap:20px;

margin-top:35px;

}

.buttons a{

padding:16px 35px;

background:#FFD166;

color:#111;

text-decoration:none;

border-radius:10px;

font-weight:bold;

transition:.3s;

}

.buttons a:hover{

background:#00E5A8;

}
